.mat-column-namen {
  width: 25%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
  text-align: center;
  font-size: 20px;
}

.mat-column-totalkm {
  width: 25%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
  text-align: center;
  font-size: 20px;
}

.mat-column-totalslopes {
  width: 25%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
  text-align: center;
  font-size: 20px;
}

.mat-column-totaltracks {
  width: 25%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
  text-align: center;
  font-size: 20px;
}

.mat-input {
  background-color: #673ab7;
  color: white;
}

.mat-input:hover {
  color: black;
} 

.big-font {
  font-size: 1.2em;
}

.form-field {
  min-width: 250px;
}
