<div *ngIf="scrWidth < 620; then mobile_content; else web_content"></div>

<ng-template #mobile_content>
  <form >
    <mat-form-field appearance="fill">
      <mat-label>Skigebiet</mat-label>
      <input class="mat-input"
            matInput
            #searchInput
            type="text"
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keyup)="searchTermChange(searchInput.value)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option" (click)="navigateTo(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <mat-list *ngFor="let station of stations">
      <mat-list-item>
        <section fxLayout="column">
          <div matListItemTitle><a routerLink="/station/{{ sortOrder }}/{{station?.id}}">{{ station?.name }}</a></div>
          <div matListItemLine style="color: black;">{{station?.totalKm}}</div>
        </section>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
</ng-template>

<ng-template #web_content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Skigebiet</mat-label>
      <input #searchInput
            type="text"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keyup)="searchTermChange(searchInput.value)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option" (click)="navigateTo(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <table #stationList mat-table [dataSource]="stations" [style.width.%]="100" class="no-border">
    <!-- Names Column -->
    <ng-container matColumnDef="namen">
      <td mat-cell *matCellDef="let station" [style.font-size.px]="17">
        <a routerLink="/station/{{ sortOrder }}/{{station?.id}}">{{ station?.name }}</a>
      </td>
    </ng-container>

    <!-- totalkm Column -->
    <ng-container matColumnDef="totalkm">
      <td mat-cell *matCellDef="let station" [style.font-size.px]="15"> {{station?.totalKm}} </td>
    </ng-container>

    <!-- totalskilift Column -->
    <ng-container matColumnDef="totalslopes">
      <td mat-cell *matCellDef="let station" [style.font-size.px]="15"> {{station?.totalSkiSlopes}} </td>
    </ng-container>

    <!-- totalskislopes Column -->
    <ng-container matColumnDef="totaltracks">
      <td mat-cell *matCellDef="let station" [style.font-size.px]="15"> {{station?.totalTracks}}</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-template>
