.mat-column-namen {
  width: 49%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-column-totalkm {
  width: 19%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-column-totalslopes {
  width: 19%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-column-totaltracks {
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-input {
  color: black;
}

.no-border {
  border: 0px;
}
