.mat-column-namen {
  width: 49%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-column-temperatur {
  width: 19%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-column-niederschlag {
  width: 19%;
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-column-luftdruck {
  background-color: #ead5f5;
  color: black;
  border-width: 0px;
}

.mat-input {
  color: black;
}
